
body, h1, h2, h3, p, a {
	font-family: 'Open Sans', sans-serif;
	color: #2C95DA;
	text-align: center;
}

h1, h2, h3 {
	font-weight: 600;
}
h1 {
	font-size: 70px;
}
.container {
	padding: 10px;
}
li {
	cursor: pointer;
}
.profile-sections li {
	cursor: auto;
}

/*Navigation bar*/
hr {
	border-color: #dbdbdb;
}

#navbar {
	padding-top: 15px;
	padding-right: 20px;
	border-bottom: 1px solid #dbdbdb;
	background-color: #fff;
}


#navbar .pull-left {
	padding: 0px;
	margin: 0px;
}
.button-hover {
	padding: 10px;
}
.button-hover:hover {
	background-color: #2C95DA;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	padding: 10px;
}


#navbar li{
	display: inline;
	padding: 0px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
} 

/* Header */

.jumbotron {
	background-image:url('http://i.imgur.com/ussiIzY.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	margin: 0px;
}

.jumbotron .container{
	position: relative;
	top: 200px;
}

.jumbotron h1, .jumbotron p {
	color: white;
}

/* Profile */
.profile {
	padding: 30px;
}

.profile p{
	font-size: 16px;
}

#profile-icons {
	padding: 5px;

}
#profile-icons li {
	padding: 0px 5px 0px 5px;
}
#profile-icons li:hover {
	opacity: 0.7;
}
#profile-icons img {
	height: 40px;
	width: 40px;
}
.profile .row {
	margin: 5px;
}
#project-p p{
	text-align: left;
}

.resume-button a{
	border: 1px solid #2C95DA;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	margin: 10px;
	width: 125px;
	text-decoration: none;
}
.resume-button a:hover {
	background-color: #2C95DA;
	color: white;
}
#summary p{
	text-align: center;
	padding: 0px 80px 10px 80px;
	margin: 5px;
}
#profile-menu {
	padding: 10px;
	margin: 10px;
}

#profile-menu li {
	font-size: 18px;
}
#profile-tabs {
	float: none;
}

.profile-sections .row {
	margin: 10px;
}
.profile-sections h3 {
	float: left;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 15px;
	text-align: left;
	font-size: 22px;
}
.progress {
	margin-top: 10px;
	margin-bottom: 10px;	
}
td {
	text-align: left;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#technical-skills td, #technical-skills p {
	padding-bottom: 0px;
	margin: 0px;
}
.position-title .position {
	font-weight: 600;
}
/* -----Experience */
#experience h4 {
	padding: 5px 0px 5px 0px;
	margin: 0px;
}
.work-experience, .work-experience li p{
	padding: 5px 0px 5px 0px;
	margin: 0px;	
}
.location {
	color: #9C9C9C;
	font-size: 16px;
}
.dates {
	vertical-align: top;
	padding-top: 5px;
	color: #9C9C9C;
}
.dates h4 {
	font-size: 16px;
}
.work-experience li p {
	color: #5a5a5a;
	font-size: 14px;
}

#circletwo {
	border-radius: 50% 50% 50% 50%;
	width: 250px;
	height: 250px;
	border: 5px solid #fff;
	margin: 10px;
}

.icon li {
	display: inline-block;
}
/* Projects */
.projects {
	background: #236CBA;
	padding: 30px;
	background-image:url('http://i.imgur.com/ussiIzY.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px -300px;
}

.projects h1{
	color: #fff;
}

.project-gallery .pic {
	width: 300px;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 50% 50% 50% 50%;	
	margin: 30px;
	background-color: #fff;
}
.pic {
	position: relative;
}

.pic:hover .title-overlay {
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}
.title-overlay {
	height: 300px;
	width: 300px;
	border-radius: 50% 50% 50% 50%;		
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
 	right: 0;
 	background: rgba(29, 106, 154, 0.72);
  	color: #fff;
  	visibility: hidden;
  	opacity: 0;
  	display: table;
}
.title-overlay p{
	 vertical-align: middle;
  	text-align: center;
  	display: table-cell;
  	color: #fff;
  	font-size: 18px;
}


#project2 img {
	height: 300px;
}
#project3 img{
	height: 400px;
}
.description {
	background: #fff;
	padding: 20px;
}
#project-description p{
	color: #5a5a5a;
	padding: 0px 30px 0px 30px;
	margin: 0px 20px 0px 20px;
	text-align: left;
}
.project2-images .row {
	padding: 5px;
	margin: 10px;
}
.project2-images img {
	height: 100px;
	width: auto;
}
/* Gallery */

.gallery {
	padding: 30px;
}
.gallery h1 {
	font-size: 70px;
}
.gallery p {
	font-size: 20px;
	text-align: center;
}

#artheader {
	background-color: #fff;
	background-image: none;
	margin: 0px;
}
.gallery .full-gallery-link a {
	font-weight: 600;
	margin: 20px;
	padding-top: 20px;
}

.gallery {
	background-color: #fff;
}
.gallery .container {
	padding-bottom: 100px;
}

.image {
	width: 300px;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 50% 50% 50% 50%;	
	margin: 30px;
	border: 5px solid #fff;
	background-color: #fff;
}
.image:hover img {
	opacity: 0.7;
}

.image a img {
	height: 350px;
	width: auto;
}

#pic1 img {
	margin-left: -100px;
	margin-top: -50px;
}
#pic3 img {
	height: 300px;
	margin-left: -75px;
}
#pic4 img {
	height: 400px;
}
#pic5 img {
	height: 400px;
}
#pic6 img {
	margin-left: -100px;
}

/*Full gallery*/
#gallery-tabs {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	float: none;
	vertical-align: top;

}
#gallery-tabs li{	
	font-size: 20px;
	display: inline;
}

.gallery p{
	color: #5a5a5a;
}

#tool {
	color: #2C95DA;
}

#image-cell {
	margin: 0px;
	padding: 0px;
}
#image-cell .row {
	margin: 0px;
}

#image-cell a{
	border: none;
}

#image-cell a:hover {
	opacity: 0.7;
}
#motion-vids {
	margin: 0px;
	padding: 10px;
}

#motion-vids .description {
	padding: 15px;
}
/*Contact me */

ul {
	list-style-type: none;
}
.footer .row {
	display: block;
	float: none;
}
.footer .container {
	padding: 0px;
}
#linkbox {
	background-color: transparent;	
	padding: 0px;
}
#linkbox li:hover {
	opacity: 0.7;
}
#linkbox ul {
	padding: 0px;
}
#linkbox li {
	color: #2C95DA;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	padding: 5px;
	display: inline-block;

}
#linkbox h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 600;
	padding-top: 0px;
}
#linkbox h4 {
	color: #fff;
}

#linkbox img {
	height: 35px;
	width: 35px;
	opacity: 0.7;
}


/*footer */
#attribution {
	color: #959595;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
#attribution a {
	font-size: 12px;
	color: #2C95DA;
}

.footer {
	text-align: center;
	background-color: #5A5A5A;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer #bottom-links li {
	display: inline;
	color: #5a5a5a;
	font-size: 14px;
}
.footer a {
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

}
#footer-line {
	margin-bottom: 5px;
	border-color: #464646;
}